@use "../../mixins" as *;
@use "../../variables" as *;

.about-page {
  color: $color-secondary;
  line-height: 1.5;

  // Headings
  h1,
  h2,
  h3,
  h4 {
    color: $color-primary;
    margin-bottom: 1rem;
  }

  p,
  li {
    color: $color-text-subtle;

    font-size: $spacing-xm;

    @include responsive(md) {
      font-size: $spacing-sm;
    }
  }

  // Hero Section
  .hero {
    text-align: center;
    padding: 6rem 2rem;
    background: $gradient-gold;
    color: $white;
    position: relative;

    p {
      max-width: 800px;
      margin: 1rem auto 2rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

    .btn {
      background: #fff;
      color: $color-primary;
      padding: 0.75rem 1.5rem;
      border-radius: $border-radius;
      @include text-bold;
      transition: $transition-slow;

      &:hover {
        background: #f3f4f6;
      }
    }
  }

  // Container Utility
  &__container {
    width: 90vw;
    margin: 0 auto;

    @include responsive(xl) {
      width: 80.77vw;
      max-width: 1413px;
    }

    margin-bottom: 4rem;
  }

  // About Section
  .about {
    margin-top: 4rem;
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      align-items: center;

      @include responsive(xl) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__title {
      text-transform: capitalize;
      font-size: $spacing-xm;
      @include responsive(md) {
        font-size: $spacing-sm;
      }
      @include text-bold;
    }

    &__subtitle {
      @include text-bold;
      @include responsive(md) {
        font-size: $spacing-lg;
      }
      font-size: 1.2rem;
      text-transform: capitalize;
      line-height: 1.2;
      font-family: "Poppins", sans-serif;
      margin-bottom: 1rem;
    }

    &__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 100%;
      @include responsive(lg) {
        min-height: 550px;
      }

      height: 100%;
      object-fit: cover;
      object-position: right;
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

    &__key_offer {
      margin: 1rem 0;
      font-size: $spacing-xm;

      @include responsive(md) {
        font-size: $spacing-sm;
      }
    }

    &__offerings {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr;
      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }
      li {
        font-size: $spacing-xm;
        @include responsive(md) {
          font-size: $spacing-sm;
        }
      }

      .offer-item {
        display: flex;
        align-items: center;
        gap: 0.85rem;
        margin-bottom: 1rem;
      }

      .offer-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }

  // MVV Cards
  .mvv {
    margin-top: 4rem;

    h2 {
      font-family: $font-bebas;
      letter-spacing: 0.8px;
      @include responsive(lg) {
        font-size: 2.8rem;
      }

      @include responsive(md) {
        font-size: 2.2rem;
      }

      font-size: 1.8rem;
    }
    &__grid {
      display: grid;
      gap: 1.5rem;
      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      grid-template-columns: 1fr;
    }

    &__content {
      display: flex;
      align-items: start;
      gap: 1rem;
    }

    &__text {
      h3 {
        font-family: $font-bebas;
        color: $color-primary;
        margin-bottom: $spacing-sm;
        letter-spacing: 0.5px;
        @include responsive(md) {
          font-size: 1.5rem;
        }

        font-size: 1.3rem;
      }

      p {
        color: $color-text-base;
        line-height: 1.5;
        margin-bottom: $spacing-sm;
        @include responsive(md) {
          font-size: 0.95rem;
        }

        font-size: 0.9rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
      object-fit: contain;
      @include gold-filter;
    }

    &__card {
      background: $white;
      padding: $spacing-sm;
      border-radius: $border-radius;
      box-shadow: $shadow-light;
      border: 1px solid transparent;
      transition: $transition-slow;

      &:hover {
        transform: translateY(-6px) scale(1.02);
        box-shadow: $shadow-xl;
        background: linear-gradient($bg-gray-light, $bg-gray-light) padding-box,
          conic-gradient(
              from var(--border-angle),
              #fff 0deg,
              $color-primary 72deg,
              #fff 144deg,
              #ffd60a 216deg,
              $color-primary 288deg,
              #fff 360deg
            )
            border-box;
        animation: border-rotate 4s linear infinite;
      }
    }
  }

  /* ================= Timeline ================= */
  .timeline {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    position: relative;
  }

  .timeline__event {
    margin: 20px 0;
    position: relative;
    display: flex;
    border-radius: 6px;
    align-self: center;
  }

  .timeline__event:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .timeline__event:nth-child(2n + 1) .timeline__event__date {
    border-radius: 0 6px 6px 0;
  }

  .timeline__event:nth-child(2n + 1) .timeline__event__content {
    border-radius: 6px;
  }

  .timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #f6a4ec;
    position: absolute;
    top: 0%;
    left: 50%;
    right: auto;
    z-index: -1;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 1s ease-in-out;
  }

  .timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #f6a4ec;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    animation: fillLeft 2s forwards 1s ease-in-out;
  }

  .timeline__event__title {
    text-transform: uppercase;
    @include text-bold;
    color: #9251ac;

    font-family: $font-bebas;
    letter-spacing: 0.5px;
    @include responsive(md) {
      font-size: 1.5rem;
    }

    font-size: 1.3rem;
  }

  .timeline__event__content {
    padding: 20px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background: #fff;
    width: calc(40vw - 84px);
    border-radius: 0 6px 6px 0;
  }

  .timeline__event__date {
    color: #f6a4ec;
    font-size: 1.5rem;
    font-weight: 600;
    background: #9251ac;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px 0 0 6px;
  }

  .timeline__event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    align-self: center;
    margin: 0 20px;
    background: #f6a4ec;
    border-radius: 100%;
    position: relative;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }

  .timeline__event__icon img {
    @include white-filter;
  }

  .timeline__event__icon:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #f6a4ec;
    position: absolute;
    top: 0%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    animation: fillTop 2s forwards 1s ease-in-out;
  }

  .timeline__event__icon:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #f6a4ec;
    position: absolute;
    left: 0%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    animation: fillLeftOdd 2s forwards 1s ease-in-out;
  }

  .timeline__event__description {
    flex-basis: 60%;
    p {
      color: $color-text-base;
      line-height: 1.5;
      margin-bottom: $spacing-sm;
      @include responsive(md) {
        font-size: 0.95rem;
      }

      font-size: 0.9rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* TYPE 2 */
  .timeline__event--type2 .timeline__event__date {
    color: #87bbfe;
    background: #555ac0;
  }

  .timeline__event--type2 .timeline__event__icon {
    background: #87bbfe;
    color: #555ac0;
  }

  .timeline__event--type2 .timeline__event__title {
    color: #555ac0;
  }

  .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
  .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
    background: #87bbfe;
  }

  /* TYPE 3 */
  .timeline__event--type3 .timeline__event__date {
    color: #aff1b6;
    background-color: #24b47e;
  }

  .timeline__event--type3 .timeline__event__icon {
    background: #aff1b6;
    color: #24b47e;
  }

  .timeline__event--type3 .timeline__event__title {
    color: #24b47e;
  }

  .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
  .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
    background: #aff1b6;
  }

  .timeline__event:last-child .timeline__event__icon:before {
    content: none;
  }

  /* Responsive */
  @media (max-width: 786px) {
    .timeline__event {
      flex-direction: column;
      align-self: center;
      width: 90%;
    }

    .timeline__event__content {
      width: 100%;
    }

    .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;
    }

    .timeline__event__icon:before,
    .timeline__event__icon:after {
      display: none;
    }

    .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;
    }

    .timeline__event:nth-child(2n + 1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
    }

    .timeline__event:nth-child(2n + 1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
    }
  }

  // Why Choose Us Section
  .why-us {
    padding: 4rem 2rem;

    .choose-us-section {
      display: grid;
      grid-template-columns: 1fr;
      gap: $spacing-md;
      position: relative;

      @include responsive(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-image-wrapper {
        @include grid-center;

        .choose-us-image {
          width: 100%;
          height: 512px;
          object-fit: cover;
        }
      }

      &-content {
        .choose-us-list {
          padding: 3rem;

          .choose-us-item {
            list-style: none;
            transition: $transition-slow;
            padding-left: 1.5rem;
            border-bottom: 1px solid $border-default;
            background-color: #fff;
            padding: 0.5rem;

            .choose-us-header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: $spacing-xm 0;
              cursor: pointer;

              .choose-us-title {
                font-size: 1rem;
                @include text-bold;
                color: $color-secondary;

                @include responsive(lg) {
                  font-size: 1.2rem;
                }
              }

              .choose-us-toggle {
                background: none;
                border: none;
                padding: 0.3rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s ease-in-out;

                &:hover {
                  transform: scale(1.1);
                }

                .accordion-icon {
                  width: 1rem;
                  height: 1rem;
                  object-fit: contain;
                  transition: transform 0.3s ease-in-out;
                }
              }
            }

            .choose-us-body {
              overflow: visible;
              max-height: 0;
              padding: 0;
              opacity: 0;
              visibility: hidden;
              transition: max-height 0.4s ease, padding 0.3s ease,
                opacity 0.3s ease;

              p {
                font-size: $spacing-sm;

                line-height: 1.5;
                color: $color-text-subtle;

                @include text-medium;
              }
            }

            &.active .choose-us-body {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  // Team Section
  .team {
    padding: 4rem 2rem;
    background: #f9fafb;

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__member {
      text-align: center;
      background: #fff;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      }

      img {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }
  }

  // Stats Section
  .stats {
    padding: 4rem 2rem;

    &__grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;

      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .stat {
      text-align: center;

      span {
        font-size: 2rem;
        color: $color-primary;
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }

  // CTA Section
  .cta {
    position: relative;
    border-radius: $border-radius;
    margin-top: 4rem;
    margin-bottom: 12rem;

    background: linear-gradient(
      45deg,
      rgba(0, 29, 61, 0.5),
      rgba(0, 125, 255, 0.5)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      object-fit: cover;
      object-position: top;
      max-height: 300px;
      margin-left: 2rem;
      display: none;
      @include responsive(md) {
        display: block;
      }
    }

    &__content {
      position: relative;
      max-width: 700px;
      color: $white;

      .cta__title {
        font-size: clamp(2rem, 4vw, 2.5rem);
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 1.5rem;
        color: $white;
        // -webkit-background-clip: text;
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .cta__subtitle {
        font-size: clamp(1rem, 2vw, 1.25rem);
        color: $bg-light;
      }
    }

    // Buttons
    .btn {
      margin-top: 1rem;
      display: inline-block;
      padding: 0.9rem 2rem;
      border-radius: $border-radius;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.3s ease;
      font-size: 1rem;

      &.btn-primary {
        background: #fff;
        color: $color-primary;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

        &:hover {
          background: #f3f4f6;
          transform: translateY(-2px);
          box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

/* Animations */
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
