@use "mixins" as *;
@use "variables" as *;

.code-section {
  margin: 4rem auto ;
  padding: 3rem 0 0;
  width: 90vw;

  @include responsive(lg) {
    width: 80.77vw;
    max-width: 1413px;
  }

  .code-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include responsive(lg) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .code-info {
    flex: 1;


    .title {
      @include text-semibold;
      font-size: $spacing-xl;
      font-family: $font-bebas;
      line-height: 0.9;

      @include responsive(lg) {
        font-size: $spacing-3xl;
      }
    }

    .desc {
      margin: 1rem 0 1.5rem;
      color: $color-text-subtle;
      line-height: 1.5;
      font-size: 1rem;
      @include text-semibold;
    }

    .learn-more-btn {
      background-color: $color-primary;
      border: 2px solid $color-primary;
      color: $white;
      padding: 0 35px;
      min-height: 50px;
      @include grid-center;
      border-radius: 9999px;
      text-transform: capitalize;
      transition: $transition-slow;
      cursor: pointer;

      @include responsive(sm) {
        display: inline-flex;
      }

      font-size: 1rem;

      &:hover {
        background-color: $white;
        color: $color-primary;
      }
    }
  }

  .code-grid {
    flex: 1;
    display: grid;
    gap: $spacing-md;
    grid-template-columns: 1fr;

    @include responsive(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .card {
    padding: 1.5rem;
    border-radius: $border-radius;
    background: $bg-gray-light;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
    text-align: left;

    .icon {
      width: 40px;
      height: 40px;
      margin-bottom: 1rem;
      object-fit: contain;
      @include black-filter;
    }

    .card-title {
      @include text-bold;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .card-content {
      font-size: 0.95rem;
      color: $color-text-subtle;
      line-height: 1.5;
    }

    &.active {
      background: $color-primary;
      color: $white;

      .icon {
        @include white-filter;
      }
      .card-content {
        color: $white;
      }
    }
  }
}
