@use "mixins" as *;
@use "variables" as *;

.footer {
  background-color: #000;
  padding: 2.5rem 0;
  color: white;

  .footer-container {
    margin: 2rem auto 0;
    position: relative;
    padding: 1rem;
    width: 90vw;

    @include responsive(lg) {
      width: 83.46vw;
      max-width: 1366px;
    }

    .footer-top {
      display: grid;
      grid-template-columns: 1fr;
      place-items: start;
      @include responsive(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include responsive(md) {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
      }

      gap: 2rem;

      .footer-logo span {
        font-size: 1.125rem;
        @include text-semibold;
        text-transform: capitalize;
        color: white;
      }

      .social-icons {
        display: flex;
        justify-content: left;
        gap: 1rem;

        img {
          width: 2rem;
          height: rem;
          filter: grayscale(100%) brightness(1000%);
          transition: $transition;
        }

        a.whatsapp:hover img {
          filter: invert(29%) sepia(94%) saturate(1352%) hue-rotate(87deg)
            brightness(90%) contrast(101%);
        }

        a.facebook:hover img {
          filter: invert(45%) sepia(95%) saturate(2000%) hue-rotate(192deg)
            brightness(95%) contrast(97%);
        }

        a.twitter:hover {
          border-radius: 0.5rem;

          img {
            filter: grayscale(100%) brightness(0%);
            padding: 0.1rem;
          }
          background-color: white;
        }

        a.instagram:hover img {
          filter: invert(40%) sepia(90%) saturate(1500%) hue-rotate(310deg)
            brightness(90%) contrast(105%);
        }
      }

      .footer-links {
        display: grid;
        gap: 0.5rem;
        text-align: start;

        @include responsive(sm) {
          grid-template-columns: repeat(2, auto);
        }

        li {
          list-style: none;

          a {
            color: white;
            font-size: 1rem;
            text-transform: capitalize;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
              text-decoration: underline;
              transform: scale(1.05);
              color: orange;
              text-decoration: none;
            }
          }
        }
      }
    }

    .footer-copy {
      text-align: center;
      font-size: 0.9rem;
      color: white; // gray-500
      margin-top: 2.5rem;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
