@use "mixins" as *;
@use "variables" as *;

/* Newsletter Section */
.newsletter-section {
  background: conic-gradient(
    at left top,
    rgb(124, 45, 18),
    rgb(254, 243, 199),
    rgb(124, 45, 18)
  );

  padding: $spacing-lg $spacing-sm;
  border-radius: $border-radius;
  margin-top: -10rem;
  display: flex;
  justify-content: center;
  box-shadow: $shadow-lg;

  .newsletter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: $spacing-md;

    .newsletter-text {
      flex: 1 1 300px;

      h2 {
        font-family: $font-bebas;
        @include text-semibold;
        line-height: 1.3;
            font-size: $spacing-md;


        @include responsive(md) {
          font-size: 2.5rem;
        }
        @include responsive(xl) {
          font-size: $spacing-lg;
        }
        margin: 0;
      }

      p {
        font-size: $spacing-sm;
        @include text-semibold;
        color: $color-text-base;
      }
    }

    .newsletter-form {
      flex: 1 1 300px;
      display: flex;
      align-items: center;

      .input-wrapper {
        position: relative;
        flex: 1;

        input {
          width: 100%;
          min-height: 50px;
          padding: 0.75rem 1rem;
          border: 1px solid $border-default;
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
          font-size: 1rem;
          outline: none;

          border-color: $color-primary;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 0.75rem;
          scale: 1.2;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      button {
        background-color: $color-primary;
        color: $white;
        padding: 0 1rem;
        min-height: 50px;
        @include grid-center;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
        @include text-semibold;
        border: 0;
        font-size: 1rem;

        cursor: pointer;
        transition: $transition;

        &:hover {
          background-color: rgba($color-primary, 0.7);
        }
      }
    }
  }
}

.footer3 {
  cursor: crosshair;
  margin-top: 4rem;
  background-color: #003566;
  color: $color-secondary;

  .footer-container {
    margin: 0 auto;
    padding: 2rem 0;

    position: relative;

    width: 90vw;
    @include responsive(lg) {
      width: 80.77vw;
      max-width: 1413px;
    }

    .footer-top {
      padding: 5rem 0 0;
      margin-bottom: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;

      @include responsive(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include responsive(md) {
        justify-items: left;

        grid-template-columns: repeat(2, 1fr);
      }
      @include responsive(lg) {
        justify-items: center;

        grid-template-columns: repeat(3, 1fr);
      }

      @include responsive(xl) {
        grid-template-columns: repeat(4, 1fr);
      }

      /* ==============================
     COMPANY INFO
  ============================== */

      .footer-company {
        display: grid;
        gap: 1rem;

        &__logo {
          gap: $spacing-xs;
          display: inline-flex;
          align-items: start;
          transition: $transition-slow;

          &:hover {
            transform: scale(1.01);
          }

          img {
            width: 4rem;
            height: 4rem;

            object-fit: contain;
          }

          .logo_text {
            @include text-bold;
            font-size: 1.5rem;

            @include responsive(md) {
              font-size: $spacing-md;
            }
            line-height: 1.2;
            text-align: left;
            color: $color-primary;
            text-transform: capitalize;
          }
        }

        &__text {
          font-size: $spacing-sm;
          line-height: 1.5;
          // color: $color-text-subtle;
          color: $bg-light;
        }

        .footer-social {
          display: flex;
          @include responsive(xl) {
            gap: $spacing-md;
          }
          gap: $spacing-xs;

          li {
            list-style: none;

            a {
              // Hover state
              &:hover {
                color: $color-primary;
                transform: scale(1.1);
                img {
                  @include white-filter;
                }
              }
              padding: 0.5rem;
              background: $color-primary;
              @include grid-center;
              border-radius: 999px;
              transition: transform 0.3s ease;

              img {
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
              }

              .social-icon {
                // @include black-filter;
                @include white-filter;
              }
            }
          }
        }
      }

      /* ==============================
     FOOTER SECTION (Links & Social)
  ============================== */
      .footer-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &__title {
          @include text-bold;
          color: $color-primary;
          font-size: 1.25rem;
          text-transform: capitalize;
        }

        .footer-links {
          display: flex;
          flex-direction: column;
          gap: 0.65rem;

          li {
            list-style: none;

            a {
              display: inline-flex;
              align-items: center;
              gap: 0.5rem;

              color: $bg-light;
              text-transform: capitalize;
              font-size: 0.8rem;
              text-decoration: none;
              position: relative;
              transition: color 0.3s ease, transform 0.3s ease;

              @include text-medium;

              @include responsive(sm) {
                font-size: 0.95rem;
              }

              // Hover state
              &:hover {
                color: $color-primary;
                transform: translateX(3px);

                img {
                  @include gold-filter;
                }

                &::after {
                  right: 0;
                }
              }

              // Underline animation
              &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 100%;
                bottom: -3px;
                height: 2px;
                background: $color-primary;
                transition: right 0.35s ease;
              }

              .arrow-logo {
                width: 16px;
                rotate: 270deg;
              }

              img {
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
                transition: transform 0.3s ease;
                @include gold-filter; // if you want it by default
              }

              span {
                line-height: 1.4;
              }
            }
          }
        }

        .opening-hours {
          margin-top: 1rem;
          @include responsive(lg) {
            margin-top: 0rem;
          }
          @include responsive(xl) {
            margin-top: 1rem;
          }
          .footer-subtitle {
            @include text-bold;
            color: $color-primary;
            font-size: 1.25rem;
            text-transform: capitalize;
          }

          li {
            color: $bg-light;
            font-size: 0.8rem;
            @include text-medium;
            @include responsive(sm) {
              font-size: 0.95rem;
            }
            span {
              color: #fff;
            }
          }
        }
      }

      .info {
        width: 100%;
        @include responsive(lg) {
          grid-column: span 3;
          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: space-between;
        }
        @include responsive(xl) {
          grid-column: span 1;
          flex-direction: column;
        }
      }
    }

    /* ==============================
       LEGAL LINKS
    ============================== */
  }

  .footer-bottom-container {
    background-color: transparent;
    border-top: 1px solid $border-default;

    .footer-bottom {
      margin: 0 auto;
      width: 90vw;
      @include responsive(lg) {
        width: 80.77vw;
        max-width: 1413px;
      }

      padding: $spacing-md 0;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      align-items: left;

      @include responsive(md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .footer-hidden {
        display: none;

        @include responsive(xl) {
          display: block;
        }
      }
      .footer-legal {
        @include responsive(md) {
          display: grid;
        }

        .legal-links {
          display: flex;

          gap: 1rem;
          list-style: none;

          li {
            a {
              color: $bg-light;
              font-size: 0.85rem;
              text-decoration: none;
              transition: color 0.3s ease;

              &:hover {
                color: $color-primary;
              }
            }
            &:nth-child(2) {
              border-left: 1px solid $color-primary;
              border-right: 1px solid $color-primary;
              padding: 0 0.5rem;
            }
          }
        }
      }

      .footer-copy {
        font-size: 0.85rem;
        color: $bg-light;

        padding: 0;

        a {
          color: inherit;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
