@use "mixins" as *;
@use "variables" as *;

.navbar {
  color: $color-secondary;
  transition: $transition-slow;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;

  &.scrolled {
    background-color: white;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 0;
  }

  .navbar-container {
    width: 90vw;
    margin-inline: auto;
    @include responsive(lg) {
      width: 80.77vw;
      max-width: 1413px;
    }
    @include flex-center;
    justify-content: space-between;
    height: 5.5rem;

    .logo-link {
      @include flex-center;
      gap: 0.5rem;
      transition: $transition-slow;

      img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
      }
      .logo_text {
        @include text-semibold;
        font-size: 1.3rem;
        color: $color-secondary;
        text-transform: capitalize;
        font-family: serif;
        text-align: center;
        line-height: 1;
      }
      &:hover {
        transform: scale(1.1);
        .logo_text {
          color: $color-primary;
        }
      }
    }

    .nav-links {
      display: none;
      list-style: none;
      position: relative;

      @include responsive(lg) {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      li {
        position: relative;

        a,
        .dropbtn {
          text-transform: uppercase;
          font-size: 0.95rem;
          font-weight: 600;
          cursor: pointer;
          color: $color-secondary;
          transition: color 0.3s ease;
          padding: 0.25rem 0.5rem;
          text-decoration: none;
          background: none;
          border: none;
          display: flex;
          align-items: center;
          gap: 0.25rem;

          &:hover {
            color: $color-primary;
            outline: none;
          }

          .dropdown-arrow {
            width: 20px;
            height: 20px;
            object-fit: contain;
            transition: transform 0.3s ease;
            @include gold-filter;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 100%;
            bottom: -3px;
            height: 2px;
            background: $color-primary;
            transition: right 0.35s ease;
          }

          &:hover::after {
            right: 0;
          }
        }
      }

      // Dropdown menu
      .dropdown-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        position: absolute;
        top: 100%;
        left: -250%;
        background: #fff;
        box-shadow: $shadow-lg;
        list-style: none;
        width: 600px;
        max-width: 90vw;
        padding: 1rem;
        border-radius: 6px;
        z-index: 1000;

        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;

        @include responsive(xl) {
          left: -200%;
        }
        a {
          border-radius: 4px;
          padding: 0.5rem;
          font-size: 0.8rem;
          width: 100%;
          transition: background-color 0.3s ease, color 0.3s ease;

          &:hover,
          &:focus {
            background: rgba($color-primary, 0.08);
            color: $color-primary;
          }
        }
      }

      .dropdown:hover .dropbtn {
        color: $color-primary;
      }

      // Dropdown hover/focus
      .dropdown:hover .dropdown-content {
        opacity: 1;
        transform: translateY(4px);
        pointer-events: auto;
      }
    }

    .nav-controls {
      @include flex-center;
      gap: 1rem;

      .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;

        img.icon-menu {
          width: 1.5rem;
          height: 1.5rem;
          transition: transform 0.3s ease;
          @include gold-filter;
        }

        &:hover img.icon-menu,
        &:focus img.icon-menu {
          transform: scale(1.1);
        }

        @include responsive(lg) {
          display: none;
        }
      }
    }
  }
}

/* Mobile Menu */

.menu-model {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;

    .mobile-menu {
      transform: translateX(0); // slide in
    }
  }

  .mobile-menu {
    position: relative;
    float: right;
    width: 80%;
    max-width: 320px;
    height: 100%;
    background: $white;
    box-shadow: $shadow-lg;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    .menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: $shadow-lg;
      height: 5.5rem;
      padding: 1.5rem;

      .logo-link img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
      }

      .close-btn {
        @include grid-center;
        width: 2rem;
        height: 2rem;
        background: $color-primary;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: $transition;

        img {
          width: 0.9rem;
          height: 0.9rem;
        }

        &:hover,
        &:focus {
          transform: scale(1.1);
          box-shadow: $shadow-lg;
          outline: none;
        }
      }
    }

    .menu-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 98%;

      padding-top: 5.5rem;
      padding-bottom: 1.5rem;
      margin-top: -5.5rem;
      .nav-menu {
        list-style: none;
        padding: 0.5rem;

        li {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
          a,
          .dropbtn {
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: $spacing-xm 1rem;
            font-size: $spacing-xm;
            color: $color-secondary;
            text-transform: uppercase;
            border-bottom: 1px solid $border-default;
            border-radius: 6px;
            text-decoration: none;
            cursor: pointer;
            transition: $transition-slow;

            &:hover,
            &:focus {
              background: $color-primary;
              color: #fff;
              .menu-icon {
                @include white-filter;
              }
            }
          }

          .dropbtn {
            justify-content: space-between;
          }

          .menu-down {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }

        .dropdown-menu-content {
          display: none;
          background: $bg-gray-light;
          border-radius: 6px;

          li {
            a {
              font-size: 0.8rem;
              color: $color-secondary;
              transition: $transition;
              border-bottom: 1px solid $border-default;
              .arrow-logo {
                width: 12px;
                height: 12px;
                rotate: 270deg;
              }
              text-transform: capitalize;
              border-radius: 0;
              padding-left: 1.5rem;
              &:hover,
              &:focus {
                background: rgba(0, 123, 255, 0.1);
                color: $color-primary;
              }
            }
            &:last-child a {
              border-bottom-color: transparent;
            }
          }
        }

        .accordion-item.open {
          background: $color-primary;
          border-radius: 6px;

          .dropdown-menu-content {
            display: block;
          }

          .dropdown-arrow {
            transform: rotate(180deg);
            transition: $transition-slow;
          }

          .dropbtn {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
          }

          .menu-down {
            color: $white;
            .service-icon {
              @include white-filter;
            }
          }
        }
      }

      .social-container {
        padding: 0.5rem;
        .social-content {
          @include text-bold;
          text-transform: capitalize;
          font-size: $spacing-sm;
          color: $color-primary;
          padding-left: 0.5rem;
          border-bottom: 1px solid rgba($border-default, 0.4);
        }
        .social-icons {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-around;

          a {
            border: 1px solid rgba($border-default, 0.4);
            box-shadow: $shadow-lg;
            border-radius: 6px;

            img {
              padding: 0.5rem;
              width: 2.5rem;
              height: 2.5rem;
              @include grid-center;
              transition: $transition;
              @include black-filter;
            }

            &:hover {
              @include gold-filter;
              scale: 1.1;
            }
          }
        }
      }
    }
  }
}
