@use "mixins" as *;
@use "variables" as *;

.portfolio-section {
  margin: 0 auto;
  padding: 3.5rem 0;

  width: 90vw;

  @include responsive(lg) {
    width: 80.77vw;
    max-width: 1413px;
  }

  // Header Section
  .portfolio-header {
    display: grid;
    place-items: start;
    gap: 1rem;
    margin-top: 4rem;

    @include responsive(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }

  .title {
    @include text-semibold;
    line-height: 0.9;
    font-size: $spacing-xl;

    font-family: $font-bebas;
    @include responsive(lg) {
      font-size: $spacing-3xl;
    }
  }

  .right-side {
    display: grid;
    place-items: end;
    width: 100%;
  }

  .description {
    display: grid;
    place-items: start;
    text-align: justify;
    text-justify: inter-word;
    @include text-medium;
    @include responsive(md) {
      max-width: 495px;
    }
    p {
      font-size: 1rem;

      color: $color-text-base; /* text-color */
      margin-bottom: 16px;
      line-height: 1.5;
    }
  }

  .read-more-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .read-more-btn {
    background-color: $color-primary;
    color: white;
    padding: 12px 35px;
    border-radius: 9999px;
    text-transform: capitalize;
    @include text-semibold;
    font-size: 0.8rem;
    border: 2px solid $color-primary;
    @include responsive(lg) {
      font-size: 1rem;
    }
    text-decoration: none;
    transition: $transition-slow;
    cursor: pointer;
  }

  .read-more-btn:hover {
    background-color: $white;
    color: $color-primary;
  }

  .icon-wrapper {
    background-color: $color-primary; /* orange */
    width: 2.7rem;
    height: 2.7rem;
    @include grid-center;
    font-size: 1rem;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .read-more-group:hover .icon-wrapper {
    background-color: white;
    color: $color-primary;
    border: 1px solid $color-primary;
  }

  .portfolio-container {
    position: relative;
    margin-top: $spacing-2xl;

    /* Individual project card */
    .project-card {
      overflow: hidden;
      width: 100%;
      @include responsive(md) {
        max-width: 715px;
      }
      transition: $transition-slow;
      display: flex;
      flex-direction: column;
    }

    .image-wrapper {
      overflow: hidden;
      border-radius: 2rem;
    }

    .project-image {
      width: 100%;

      object-fit: cover;
      transition: transform 0.5s ease;
      border-radius: 2rem;
      object-fit: cover;

      max-height: 470px;
      height: 470px;
    }

    .project-card:hover .project-image {
      transform: scale(1.1);
    }

    .project-details {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $spacing-lg;
    }

    .project-title {
      @include text-bold;
      margin: 0;
      text-transform: capitalize;

      @include responsive(lg) {
        font-size: 2.25rem;
      }

      @include responsive(md) {
        font-size: 1.4rem;
      }

      .project_number {
        color: $color-primary;
        @include text-bold;
      }
    }
    .arrow-btn {
      background-color: transparent;
      transition: $transition-slow;
      width: 2.8rem;
      height: 2.7rem;
      @include grid-center;
      font-size: 1rem;
      text-align: center;
      border-radius: 9999px;
      @include black-filter;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        box-shadow: $shadow-xl;
        border: 2px solid $color-primary;
        @include gold-filter;
      }
    }
  }
  .swiper-nav {
    margin-top: $spacing-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include responsive(md) {
      justify-content: end;
    }
  }

  .swiper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.25rem;
    background: transparent;
    color: $color-text-subtle;
    border: 2px solid rgba($light-gold, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;

    .icon-arrow-left {
      transform: rotate(180deg);
    }

    img.icon-arrow {
      width: 1rem;
      height: 1rem;
      @include black-filter;
      transition: $transition-slow;
    }

    &:hover {
      background-color: $color-primary;
      transform: scale(1.1);
    border: 2px solid $color-primary;

      .icon-arrow {
        @include white-filter;
      }
    }
  }
}
