@use "mixins" as *;
@use "variables" as *;

.vas-section {
  margin: auto;
  padding: 3.5rem 0;
  display: grid;

  width: 90vw;

  @include responsive(lg) {
    width: 83.46vw;
    max-width: 1366px;
  }
  // Header Section
  .about-header {
    display: grid;
    place-items: start;
    gap: 1rem;
    @include responsive(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }

  .right-side {
    display: grid;
    place-items: end;
    width: 100%;
  }

  .title {
    @include text-semibold;
    line-height: 1;
    font-size: 2rem;
    font-family: $font-bebas;
    text-transform: uppercase;
    @include responsive(md) {
      font-size: $spacing-2xl;
    }
  }

  .description {
    display: grid;
    place-items: start;
    text-align: justify;
    text-justify: inter-word;
    @include text-medium;
    @include responsive(md) {
      max-width: 485px;
    }
    p {
      font-size: 0.9rem;

      color: $color-text-base; /* text-color */
      margin-bottom: 16px;
      line-height: 1.5;
    }
  }

  .vas-grid {
    display: grid;
    margin: $spacing-xl 0 ;

    gap: 2rem;

    grid-template-columns: 1fr;

    .vas-left {
     width: 100%;
     height: 600px;

     .about_image{
      object-fit: cover;
      width: 100%;
      height:100%;
     }
    }


    .vas-right {
      .vas-section-list {
        padding: 3rem;
      }

      .vas-service-item {
        list-style: none;
        transition: $transition-slow;
        padding-left: 1.5rem;
        margin-top: 1rem;
        cursor: pointer;

        .vas-service-title {
          font-size: 1rem;
          @include text-bold;
          margin-bottom: 2rem;
          margin-top: 0;
          color: $color-text-subtle;

          @include responsive(lg) {
            font-size: 1.2rem;
          }
        }

        .vas-link-wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          transition: $transition-slow;

          .read-more-btn {
            background-color: #e5e7eb;
            color: $color-secondary;
            padding: 12px 35px;
            border-radius: 9999px;
            text-transform: capitalize;
            @include text-semibold;
            font-size: 0.8rem;
            @include responsive(lg) {
              font-size: 1rem;
            }
            text-decoration: none;
            transition: all 0.3s ease;
            cursor: pointer;
          }

          .read-more-btn:hover {
            background-color: $color-primary;
            color: white;
          }

          .icon-wrapper {
            background-color: $color-primary; /* orange */
            width: 2.7rem;
            height: 2.7rem;
            @include grid-center;
            font-size: 1rem;
            border-radius: 9999px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
          }

          &:hover .icon-wrapper {
            background-color: white;
            color: $color-primary;
            border: 1px solid $color-primary;

            img {
              filter: invert(43%) sepia(75%) saturate(3687%) hue-rotate(7deg)
                brightness(95%) contrast(96%);
            }
          }
        }
      }

      .vas-service-item {
        padding: 2.3rem 1.5rem;
        border-bottom: 1px solid $border-default;
        background-color: #fff;
        transition: $transition-slow;

        .vas-service-title {
          color: $color-secondary;
          @include text-bold;
          margin-bottom: 0.3rem;
        }

        .vas-service-paragraph {
          color: $color-secondary;
          margin-bottom: 1.4rem;
          line-height: 1.5;
          font-size: 0.9rem;

          @include text-medium;
        }
      }
    }
  }
}
