@use "mixins" as *;
@use "variables" as *;

// team section
.team-section {
  margin: 0 auto;
  text-align: center;
  padding: 3.5rem 0;

  width: 90vw;

  @include responsive(lg) {
    width: 83.46vw;
    max-width: 1366px;
  }
  .section-title {
    font-size: 1.75rem;
    @include responsive(md) {
      font-size: $spacing-lg;
    }
    @include text-medium;
    margin-bottom: 2.5rem;
  }

  .team-swiper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
  }

  .team-card {
    border-radius: 0.75rem;
    transition: all 0.5s ease;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .swiper-slide:hover {
    background: linear-gradient(to bottom, #ffffff, #f3f4f6);
  }

  .image-container {
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .swiper-slide:hover img {
    transform: scale(1.1);
  }
  .linkedin-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #d1d5db;
    border-radius: 50%;
    @include grid-center;
    transition: background-color 0.3s ease, transform 0.3s ease;

    img.social-icon {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0;
      filter: brightness(0) saturate(100%);
      transition: filter 0.3s ease;
      
    }
  }

  // 🔥 On .swiper-slide hover — update nested styles
  .swiper-slide:hover .linkedin-icon  {
    background-color: #fb923c;

    img.social-icon {
      filter: brightness(0) saturate(100%) invert(100%);
    }
  }

  .slide-info {
    text-align: left;
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem;
  }

  .slide-info p:first-child {
    font-weight: bold;
  }

  .slide-info p:last-child {
    color: $color-text-base;
  }
  .swiper-nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
    margin-top: 1rem;
  }

  .swiper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.25rem;
    background: #f9fafb;
    color: $color-text-subtle;
    border: 2px solid $border-default;
    cursor: pointer;
    transition: all 0.3s ease;

    .icon-arrow-left {
      transform: rotate(180deg);
    }

    img.icon-arrow {
      width: 1rem;
      height: 1rem;
      filter: brightness(0) saturate(0) invert(66%) sepia(0%) saturate(0%)
        hue-rotate(181deg) brightness(92%) contrast(89%);
      transition: filter 0.3s ease;
    }

    &:hover {
      background-color: #e5e7eb;
      transform: scale(1.1);
    }
  }
}
