@use "mixins" as *;
@use "variables" as *;

.testimonial-section {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 3.5rem 0;

  width: 90vw;

  @include responsive(lg) {
    width: 83.46vw;
    max-width: 1366px;
  }
  .testimonial-header {
    @include grid-center;

    .testimonial-left {
      text-align: left;
      margin-bottom: 1.5rem;

      .subheading {
        font-size: 0.8rem;
        @include responsive(md) {
          font-size: 1.3rem;
        }
        @include text-medium;
        color: $color-text-base;
      }

      .main-heading {
        font-size: 1.75rem;
        @include responsive(md) {
          font-size: $spacing-lg;
        }
        @include text-medium;
        line-height: 1.2;
      }
    }
  }

  .testimonial-container {
    position: relative;

    .testimonial-swiper {
      position: relative;
      padding: 2rem 0 4rem;
      overflow: hidden;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      border-radius: $border-radius;
      text-align: left;
      transition: $transition;
      padding: 1.5rem;

      &:hover {
        background: $bg-gray-light;
        box-shadow: $shadow-md;
      }
    }

    .testimonial-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      border-radius: $border-radius;
      transition: $transition;
      cursor: pointer;
    }

    .testimonial-desc {
      font-size: 1rem;
      @include responsive(md) {
        font-size: 1.5rem;
      }
      line-height: 1.2;
      color: $color-text-base;
      margin-bottom: 1.5rem;
    }

    .testimonial-footer {
      display: flex;
      flex-direction: column;
    }

    .testimonial-divider {
      max-width: 280px;
      height: 1px;
      background-color: $color-text-subtle;
      margin-top: 0.5rem;
      border: none;
    }

    .testimonial-title {
      font-size: 1.125rem;
      @include responsive(md) {
        font-size: 1.5rem;
      }
      color: $color-primary;
      @include text-bold;
    }

    .testimonial-subtitle {
      font-size: 0.875rem;
      @include responsive(md) {
        font-size: 1.2rem;
      }
      color: $color-text-muted;
      margin-top: 0.25rem;
    }

    .swiper-nav {
      position: absolute;
      bottom: 1rem;
      @include responsive(md) {
        bottom: 7rem;
      }
      right: 2rem;
      z-index: 10;
      display: flex;
      gap: 1rem;
    }

    .swiper-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.25rem;
      background: #f9fafb;
      color: $color-text-subtle;
      border: 2px solid #d1d5db;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e5e7eb;
        transform: scale(1.1);
      }
    }
  }
}
