$color-primary: #ff7f50;
$color-tertiary: #f5f5dc;
$color-secondary: #111827;

$color-text-base: #374151;
$color-text-muted: #6b7280;
$color-text-subtle: #9ca3af;
$color-text-dark: #374151;

$gray-900: #101828;
$gray-700: #364153;

$bg-gray-light: #f3f4f6;
$bg-gray-lighter: #e5e7eb;
$bg-success-dark: #207211;

$border-default: #d1d5db;

$color-success: #10b981;
$color-error: #ef4444;

$border-radius: 1rem; // 6px
// Typography
$font-sans: "ui-sans-serif", system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: "ui-serif", Georgia, Cambria, "Times New Roman", Times, serif;
$font-mono: "ui-monospace", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// Transitions & Animations
$transition: all 0.3s ease;
$transition-slow: all 0.5s ease;

// Spacing variables
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 4rem;
$spacing-2xl: 6rem;
$spacing-3xl: 8rem;





// Shadows
$shadow-light: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
