@use "mixins" as *;
@use "variables" as *;

//why choose us section
.why-choose-us {
  background: $bg-success-gradient;
  padding: 3.5rem 0;

  .why-us-container {
   
    margin: 0 auto;
  width: 90vw;
  max-width: 1440px;

  @include responsive(lg) {
    width: 83.46vw;
    max-width: 1280px;
  }
  }

  .heading h2 {
    @include text-semibold;
    font-size: 1.85rem;
    line-height: 1.2;
    @include responsive(md) {
      font-size: 2.2rem;
    }
    color: #fff;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include responsive(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .feature-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: $shadow-light;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      box-shadow: $shadow-md;
      transform: translateY(-4px);
    }

    .feature-title {
      color: $color-secondary;
      @include text-semibold;
      margin-bottom: 0.1rem;
      font-size: 1.125rem;
      @include responsive(lg) {
        font-size: 1.225rem;
      }
    }

    .feature-desc {
      color: $color-text-base;
      font-size: 1.25rem;
      @include responsive(lg) {
        font-size: 1.1rem;
      }
      line-height: 1.2;
    }
  }
}
