@use "../../mixins" as *;
@use "../../variables" as *;

.section-events {
  padding: $spacing-xl 0;
  width: 90vw;
  margin: auto;
  transition: $transition;

  @include responsive(lg) {
    width: 80vw;
    max-width: 1413px;
  }

  &__header {
    margin-bottom: $spacing-xl;

    .section-events__title {
      font-family: $font-bebas;
      color: $color-secondary;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: $spacing-sm;

      @include responsive(lg) {
        font-size: 2.8rem;
      }
      @include responsive(md) {
        font-size: 2.2rem;
      }
      font-size: 1.8rem;
    }

    .section-events__subtitle {
      line-height: 1.5;
      color: $text-light;

      @include responsive(md) {
        font-size: 1.1rem;
      }
      font-size: 1rem;
    }
  }

  &__core {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    margin-bottom: $spacing-xl;

    @include responsive(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(md) {
      gap: $spacing-md;
    }

    .event-card {
      background: $white;
      padding: $spacing-lg;
      border-radius: $border-radius;
      box-shadow: $shadow-light;
      border: 2px solid transparent;
      transition: $transition-slow;
      cursor: pointer;

      &:hover {
        transform: translateY(-6px) scale(1.02);
        box-shadow: $shadow-xl;
        background: linear-gradient($bg-gray-light, $bg-gray-light) padding-box,
          conic-gradient(
              from var(--border-angle),
              #fff 0deg,
              $color-primary 72deg,
              #fff 144deg,
              #ffd60a 216deg,
              $color-primary 288deg,
              #fff 360deg
            )
            border-box;
        animation: border-rotate 4s linear infinite;
      }

      &__title {
        font-family: $font-bebas;
        color: $color-primary;
        margin-bottom: $spacing-sm;
        letter-spacing: 0.5px;

        @include responsive(md) {
          font-size: 1.5rem;
        }
        font-size: 1.3rem;
      }

      &__text {
        color: $color-text-base;
        line-height: 1.5;
        margin-bottom: $spacing-sm;

        &:last-child {
          margin-bottom: 0;
        }

        strong {
          color: $dark-gold;
          font-weight: 600;
        }

        @include responsive(md) {
          font-size: 0.95rem;
        }
        font-size: 0.9rem;
      }
    }
  }

  &__footer {
    margin-top: $spacing-xl;
    margin-bottom: 4rem;

    .section-events__note {
      line-height: 1.5;
      color: $text-light;

      @include responsive(md) {
        font-size: 1.1rem;
      }

      font-size: 1rem;
    }
  }
}

// Animation
@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}
